body {
    background: url(images/wp2595119.jpg);   
    font-family: 'Aldrich';
    overflow: hidden;
}

.wrapper {
    color: white;
    position: relative;
}

.header__title {
    position: absolute;
    margin-left: 2rem;
    margin-top: 8rem;
    margin-bottom: 0;
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    width: 50%;
    line-height: 6rem;

}

.menu {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.menu li {
    list-style-type: none;
}

.menu_item a {
    text-decoration: none;
    color: white;
}

.menu_list {
    width: 30rem;
    height: 5rem;
    text-align: center;
    font-size: 1.5rem;
    border: 2px white solid;
    width: 30rem;
    padding: 1rem;
    margin-top: 5rem;
    margin-right: 3.5rem;
    border-radius: 20px;
    transition: 0.3s;
}

.menu_list:hover {
    transform: scale(1.1);
    letter-spacing: 0.2rem;
}

.menu_list:nth-child(1) {
    background-color: rgb(238, 33, 33);
}

.menu_list:nth-child(2) {
    background-color: rgb(40, 79, 255);
}

.menu_list:nth-child(3) {
    background-color: rgb(58, 207, 58);
}

.menu_list:nth-child(4) {
    background-color: rgb(207, 197, 58);
}

/* -------------------------------PAGE POKEMONS--------------------- */

.page_title {
    color: white;
}



.menu_list {
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   li:hover {
    color: black;
   }
   
   li:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   li:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }